header .container {
	align-items: center;
	background-color: #10316b;

	h1 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	nav {
		grid-column-start: 4;
		grid-column-end: 8;

		ul {
			justify-content: space-evenly;

			a {
				font-size: .8rem;
			}
		}
	}

	div {
		grid-column-start: 12;
		grid-column-end: 13;
		justify-content: space-between;
	}
}