/* GLOBALS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  max-width: 1024px;
  width: 95%;
  margin: auto;
}

.container {
  padding: 1.5rem 1rem;
}

img {
  display: block;
}

.button-container {
  text-align: center;
}

button {
  padding: .25rem 2rem;
  border: 3px solid #c7c7c7;
  border-radius: 16px;
  outline: none;
  background-color: unset;
  color: #c7c7c7;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
}

.button-primary {
  color: #eac100;
  border-color: #eac100;
}

.button-primary:hover {
  color: white;
  background-color: #eac100;
}

.button-secondary {
  color: #0b8457;
  border-color: #0b8457;
}

.button-secondary:hover {
  color: white;
  background-color: #0b8457;
}

/* Typography */
a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1rem;
}

header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #10316b;
}

header .container h1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

header .container nav {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 8;
}

header .container nav ul {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .container nav ul a {
  font-size: .8rem;
}

header .container nav ul a:hover {
  text-decoration: underline;
}

header .container div {
  -ms-grid-column: 12;
      grid-column-start: 12;
  grid-column-end: 13;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #10316b;
}

footer .container p {
  font-size: .75rem;
}

article {
  position: relative;
}

article figure img {
  max-width: initial;
  width: 100%;
}

article > div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
}

.article-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 0;
}

.article-foot p {
  font-size: .75rem;
}

.article-foot a {
  display: inline-block;
  padding: .2rem .5rem;
  font-weight: bold;
  font-size: .75rem;
  border: 2px solid;
  border-radius: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.article-foot a:last-child {
  margin-left: .5rem;
}

.article-foot a:hover {
  border-color: white;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.article-tag {
  text-align: right;
}

.article-tag span {
  display: inline-block;
  padding: .15rem .25rem;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: .75rem;
  border-radius: 7px;
}

.main-article {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.v-article {
  position: relative;
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

.v-article h4 {
  font-size: 1.25rem;
}

.s1 .h-article {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 13;
}

.s2 .h-article:nth-child(3) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.s2 .h-article:nth-child(4) {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
}

.s2 .h-article:nth-child(5) {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 13;
}

.s2 .h-article:nth-child(6) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.s2 .h-article:nth-child(7) {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
}

.s2 .h-article:nth-child(8) {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 13;
}

.s2 .h-article:nth-child(9) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.s2 .h-article:nth-child(10) {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
}

.s2 .h-article:nth-child(11) {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 13;
}

.s2 .h-article:nth-child(12) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
}

.s2 .h-article:nth-child(13) {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
}

.s2 .h-article:nth-child(14) {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 13;
}

.s2 h2 {
  margin-top: 1.25rem;
}

.s2 h2:first-child, .s2 > div:first-of-type {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 9;
  color: #eac100;
}

.s2 h2:nth-child(2), .s2 > div:last-of-type {
  -ms-grid-column: 9;
      grid-column-start: 9;
  grid-column-end: 13;
  color: #0b8457;
}
/*# sourceMappingURL=styles.css.map */